<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
  <appSettings>
    <add key="mongo-server" value=""/>
    <add key="mongo-port" value=""/>
    <add key="mongo-user" value=""/>
    <add key="mongo-pass" value=""/>
  </appSettings>
</configuration>